<h1>students 데이터 삽입</h1>
<form name="students" method="post" action="/">
    <div>
        <label for="sno">Sno</label>
        <input type="text" name="sno" required placeholder="Sno">
    </div>
    <div>
        <label for="sname">Name</label>
        <input type="text" name="sname" placeholder="Name">
    </div>
    <div>
        <label for="semail">Email</label>
        <input type="text" name="semail" placeholder="Email">
    </div>
    <div>
        <label for="sphnum">Phone Number</label>
        <input type="text" name="sphnum" placeholder="Phone Number">
    </div>
    <div>
        <label for="smajor">Major</label>
        <input type="text" name="smajor" required placeholder="Major">
    </div>
    <div>
        <label for="sclubid">Club ID</label>
        <input type="text" name="sclubid" placeholder="Club ID">
    </div>
    <div>
        <input type="submit" value="삽입" style="width:150px; margin-left: 50px;">
    </div>
</form>